<label>How much outstanding debt you have?</label>
<div class="form-group">
  <div class="form-group">
    <label for="name"></label>
    <input type="number" class="form-control" name="name" ng-model="formData.debt" min="0" max="100000000000" required>
</div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
     <a ui-sref="form.result" class="btn btn-danger" ng-click='processForm()'>
    Submit <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>