<div ng-show="formData.type==='rent'">
    <label>How much <span><b>{{formData.type}}</b></span> you pay each month?</label>
</div>
<div ng-show="formData.type==='mortgage'">
    <label>How much amount is remaining on mortgage?</label>
</div>
<div class="form-group">
  <div class="form-group">
    <label for="mortgagePay"></label>
    <input type="text" class="form-control" name="mortgagePay" ng-model="formData.mortgagePay">
</div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.children" class="btn btn-block btn-info" ng-disabled="calc-form.$invalid"  popover="email, no. of tickets and loation are required fields" popover-trigger="mouseenter"
                popover-placement="left">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>