<div class="form-group">
    <label for="name">Do you rent or pay mortgage?</label>
  

 <div class="radio">
        <label>
           <input type="radio" ng-model="formData.type" value="rent" checked>
           I rent
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.type" value="mortgage">
            I pay mortgage
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.rent" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>