<label>Please specify how many children you have?</label>
<div class="form-group">
  <div class="form-group">
    <label for="childrenCount"></label>
   
      <div>
              <input type="number" class="input-append form-control" style="width:50%"  name="childrenCount" ng-model="formData.childrenCount" >
        </div>
</div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.debt" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>