<div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">
  
      <div class="page-header text-center">
          <h2>How much life insurance cover you need</h2>
          
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".profile"><span>1</span> <span style='display:none'>Rent or Pay mortgage</span></a>
              <a ui-sref-active="active" ui-sref=".rent"><span>2</span> <span style='display:none'>How much rent or Mortgage</span></a>
              <a ui-sref-active="active" ui-sref=".children"><span>3</span> <span style='display:none'>Do you have children</span></a>
              <a ui-sref-active="active" ui-sref=".debt"><span>4</span><span style='display:none'> outstanding debt</span></a>
              <a ui-sref-active="active" ui-sref=".result"><span>5</span><span style='display:none'> Result</span></a>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="calc-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>
  
  </div>
  


</div>
</div>

